@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Quicksand:wght@300..700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #0b0f2b 0%, #1a1c3a 100%);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.w-w-header.is-open .w-w-header-background {
  left: 0;
}
.w-w-header-button-wrapper {
  margin-left: auto;
}
.w-w-header-icon {
  display: none;
}

.w-w-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.w-w-navigation-list.is-open {
  right: 0;
}
.w-w-header-icon-menu {
  display: block;
}

.w-w-header-icon-button.is-open .w-w-header-icon-menu {
  display: none;
}

.w-w-header-icon-button.is-open .w-w-header-icon-close {
  display: block;
}

.w-w-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 120px;
}

.w-w-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(11, 15, 43, 1);
}
.w-w-header.is-open .w-w-header-background {
  left: 0;
}
.w-w-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.w-w-header-icon-menu {
  display: block;
}

.w-w-header-icon-button.is-open .w-w-header-icon-menu {
  display: none;
}

.w-w-header-icon-button.is-open .w-w-header-icon-close {
  display: block;
}

.w-w-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 48px 38px;
  position: relative;
}

.w-w-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 48px 0 0 108px;
  gap: 28px;
  background: linear-gradient(180deg, #0b0f2b 0%, #1a1c3a 100%);
}

.w-w-navigation-list.is-open {
  right: 0;
}

.w-w-navigation-link {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.w-w-navigation-link:hover,
.w-w-navigatioт-link:focus {
  color: rgba(255, 78, 177, 1);
}

.w-w-header.is-open {
  background-color: transparent;
}

.w-w-navigation-img {
  display: none;
}

@media screen and (min-width: 1196px) {
  .w-w-navigation-img {
    display: flex;
  }
  .w-w-policy-terms-header-icon-menu {
    display: none;
  }

  .w-w-header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding-right: 150px;
  }

  .w-w-header-background {
  }
  .w-w-header-icon-button {
    display: none;
  }
  .w-w-navigation {
    display: flex;

    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .w-w-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 138px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .w-w-navigation-link {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0px;
    text-decoration: none;
  }

  .w-w-navigation-item-desk {
    display: none;
  }
}
.w-w-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home\ mobile.png");
  margin: auto;
}
.w-w-home-container {
  width: 375px;
  padding: 194px 0px 0px;
  margin: auto;
}

.w-w-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-w-home-title {
  width: 375px;
}

.w-w-home-google-button-image {
  width: 243px;
  height: 70px;
  margin-top: 52px;
}

.w-w-home-google-button-link:hover .w-w-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1196px) {
  .w-w-home {
    width: 1440px;
    height: 820px;
    background-image: url("/img/home/Home.png");
  }

  .w-w-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .w-w-home-title {
    width: 668px;
  }
  .w-w-home-google-button-image {
    margin-top: 0px;
  }
}
.w-w-about {
  margin: auto;
  width: 375px;
  height: 607px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 44.png");
}
.w-w-about-container {
  width: 375px;
  padding: 80px 20px 0px;
  margin: auto;
}
.w-w-about-title {
  font-family: Chewy;
  font-weight: 400;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 78, 177, 1);
}
.w-w-about-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 221px;
}

@media screen and (min-width: 1196px) {
  .w-w-about {
    width: 1440px;
    height: 496px;
    background-image: url("/img/Frame\ 45.png");
  }
  .w-w-about-container {
    width: 1440px;
    padding: 140px 80px 0;
  }
  .w-w-about-title {
    font-family: Chewy;
    font-weight: 400;
    font-size: 38px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .w-w-about-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    width: 630px;
    padding-top: 10px;
  }
}
.w-w-why {
  margin: auto;
  width: 375px;
  height: 978px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Frame\ 44\ \(1\).png");
}

.w-w-why-container {
  width: 375px;
  margin: auto;
  padding: 70px 20px 0;
}
.w-w-why-list {
  padding-top: 277px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.w-w-why-item {
  display: flex;
  gap: 6px;
}
.w-w-why-text-bold {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 228, 255, 1);
}
.w-w-why-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1196px) {
  .w-w-why {
    width: 1440px;
    height: 516px;
    background-image: url("/img/why/Frame\ 45\ \(1\).png");
  }
  .w-w-why-container {
    width: 1440px;
    padding: 120px 80px 0;
  }
  .w-w-why-list {
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    column-gap: 454px;
  }
  .w-w-why-item {
    display: flex;
    gap: 6px;
    width: 413px;
  }
  .w-w-why-text-bold {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .w-w-why-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.w-w-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 80px 0px 0;
}
.w-w-uniqueness-list {
  margin-top: 28px;
  padding: 56px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 38.png");
}
.w-w-uniqueness-item {
  background: rgba(255, 78, 177, 1);
  border-radius: 16px;
  padding: 12px 0;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1196px) {
  .w-w-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 140px 80px 0;
  }
  .w-w-uniqueness-list {
    margin-top: 36px;
    padding: 86px 163px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    column-gap: 236px;
  }
  .w-w-uniqueness-item {
    background: rgba(255, 78, 177, 1);
    border-radius: 16px;
    padding: 12px 0;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    width: 347px;
    height: 54px;
  }
}

.w-w-reviews {
  margin: auto;
  width: 375px;
  height: 609px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Frame\ 46.png");
}
.w-w-reviews-container {
  margin: auto;
  padding: 80px 20px 0;
  width: 375px;
}
.w-w-reviews-list {
  margin-top: 260px;
}
.w-w-reviews-lists {
  display: none;
}
.w-w-reviews-item {
  margin: 0 5px;
  border: 1px solid rgba(0, 228, 255, 1);
  width: 335px;
  height: 213px;
  border-radius: 16px;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 22px;
}

.w-w-reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
}

.w-w-reviews-text-bold {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 228, 255, 1);
}

.w-w-reviews-text {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0 18px;
}

@media screen and (min-width: 1196px) {
  .w-w-reviews {
    width: 1440px;
    height: 673px;
    background-image: url("/img/reviews/Frame\ 47.png");
  }
  .w-w-reviews-container {
    margin: auto;
    padding: 130px 80px 0;
    width: 1440px;
  }
  .w-w-reviews-list {
    display: none;
  }
  .w-w-reviews-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
    gap: 20px;
  }
  .w-w-reviews-item {
    margin: 0;
    width: 413px;
    height: 213px;

    border-radius: 16px;
    padding-top: 22px;
    padding-right: 25px;
    padding-bottom: 22px;
    padding-left: 25px;
  }

  .w-w-reviews-item-top {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .w-w-reviews-text-bold {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(0, 228, 255, 1);
  }
  .w-w-reviews-item-q {
    margin-right: 100px;
  }
  .w-w-reviews-text {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 0;
    height: 47px;
    margin: 16px 0 18px;
  }
}

.w-w-faq-container {
  padding: 80px 0px 0px;
  width: 375px;
  margin: auto;
}
.w-w-faq-div {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.w-w-faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.w-w-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 228, 255, 1);
  border-radius: 16px;
  padding: 10px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(0, 228, 255, 1);
}

.w-w-faq-answer {
  display: none;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-top: 4px;
  border-radius: 16px;

  padding: 10px;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.w-w-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
.w-w-toggle-button img {
  transition: transform 0.3s ease;
}
@media screen and (min-width: 1196px) {
  .w-w-faq-container {
    padding: 140px 80px 0;
    width: 1440px;
    margin: auto;
  }
  .w-w-faq-div {
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .w-w-faq-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    width: 630px;
  }
}

.w-w-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px;
}
.w-w-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.w-w-gallery-item {
  width: 324px;
  height: 576px;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.w-w-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-dots li {
  display: none;
}
.w-w-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1196px) {
  .w-w-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin-top: -55px;
    position: relative;
    z-index: 1;
  }

  .w-w-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .w-w-gallery-button:hover {
    scale: 120%;
  }

  .w-w-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 140px 80px;
  }
  .w-w-gallery-item {
    width: 324px;
    height: 576px;
    border-radius: 16px;

    margin: 0 10px;
  }

  .w-w-gallery-list {
    padding: 36px 0 28px;
  }
  .slick-dots {
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .slick-dots li {
    display: block;
    list-style: none;
    width: 16px;
    height: 16px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/gallery/Ellipse\ 3.png") no-repeat center/cover;
    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/gallery/Ellipse\ 2.png") no-repeat center/cover;
  }
}

.w-w-policy-terms-container {
  padding: 124px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Quicksand;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.w-w-policy-terms-container h1 {
  text-transform: uppercase;
  font-family: Chewy;
  font-weight: 400;
  font-size: 38px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 78, 177, 1);
}
.w-w-policy-terms-container h2 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 20px;
}
.w-w-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.w-w-email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1196px) {
  .w-w-policy-terms-container {
    padding: 117px 180px 60px;
    width: 1440px;
  }
}

.w-w-footer-container {
  width: 375px;
  padding: 16px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: rgba(11, 15, 43, 1);
  gap: 23px;
}

.w-w-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.w-w-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Chewy;
  font-weight: 400;
  font-size: 26px;
}

.w-w-footer-copyright {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1196px) {
  .w-w-footer-container {
    width: 1440px;
    padding: 46px 180px;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .w-w-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 283px;
  }

  .w-w-footer-text {
    font-family: Chewy;
    font-weight: 400;
    font-size: 26px;
  }

  .w-w-footer-copyright {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.w-w-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(255, 78, 177, 1);

  z-index: 1000;
  display: none;
}

.w-w-cookie-popup-text-two {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: rgba(11, 15, 43, 1);
}

.w-w-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.w-w-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #0b0f2b;
  width: 295px;
  border-radius: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: rgba(11, 15, 43, 1);
}

#accept-cookies {
  background: linear-gradient(180deg, #0b0f2b 0%, #1a1c3a 100%);
  color: rgba(255, 78, 177, 1);
}

.w-w-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1196px) {
  .w-w-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .w-w-cookie-popup-text-two {
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .w-w-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .w-w-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
